/* reglas:
    selectores
    declaraciones
    propiedades 
    valores
*/
/* selector de etiqueta, hace refetencia al tag de html ej: section, article, etc */
/* selector de etiqueta, hace refetencia al tag de html ej: section, article, etc */
/*body {
    background-color: #000000;
    color: white;
    font-family: Arial;
} */
/* selector descentente (hijitos */
/*  body header div figure nav ol li a {

}*/
/* selector de ID o clase  esta es la mpas comoda*/
/* selector de clase */
/* ------------------------------------------------------------------- */

body {
    font-family: 'Source Sans pro', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    margin: 0px;
}

ol, /* Estilo para las listas */
ul {
     margin: 0;
     padding: 0;
     list-style: none;
     font-weight: bold;

}

figure {
    margin: 0;
}

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    
}

.menu {
    height: inherit;
}


.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

h1 strong {
    color: #81b71a;
}

h2 {
    color: #81b71a;
    text-transform: uppercase;
    font-family: 'Source Sans pro';
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}



.hero {
    height: 300px;
    color: white;
/*     background-image: url('../Assets/hero.jpg'); */
    background-color: #1b2127;
/*     background-size: 350px 300px;*/
/*     background-repeat: no-repeat;*/
    background-position-x: right;
    display: flex;
    align-items: center;
    justify-content:space-between ;
}

.hero-image {
    object-fit: cover;
    height: 300px;
    width: 550px;
}

.portfolio {
    background-color: #fafafa;
    padding: 20px;
}

.project {
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-matri {
    margin: 10px 0;
}

.project-date {
    margin: 10px 0;
}

.project-url {
    margin: 10px 0px;
}

.project-url a {
    text-decoration: none;
    color: black;
}

.project-description {
    font-size: 20px;
    
}

.project strong {
    font-family: 'Fjalla One', sans-serif;
}
.project-title {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.project-details {
    width: 500px;
    height: 200px;
}

.project-imageContainer {
    width: 500px;
}

.footer {
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event-list-title {
    margin-left: 20px;
}
.event {
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f1f8e9;
}

.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description {
    text-align: left;
}

.event-url {
    color: #81b71a;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;

}

.contact {
    background-color: #81b71a;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0px 15px;
}
.social-link.twitter {
    background-image: url(../Assets/twitter.svg);
}
.social-link.facebook {
    background-image: url(../Assets/facebook.svg);
}
.social-link.github {
    background-image: url(../Assets/github.svg);
}
.social-link.instagram {
    background-image: url(../Assets/instagram.svg);
}

.form-email input {
    border-color:grey;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url(../Assets/correo.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    display:block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 10px 0;
    width: 100px;
    border-radius: 5px;
    margin-top: 10px;
}

.form-email h3 {
    font-family: 'Source Sans pro', sans-serif;
}

.container {
    width: 1250px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;

}
 